.tab-list{
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px 0;
    padding: 0;
    width: 100%;
}

.tab-list .tab-item{
    position: relative;
    width: calc(100% / 3);
    padding: 10px;
    text-align: center;
}

.tab-list .tab-item a{
    color: peru;
    font-size: 1.2em;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: -3px -3px 10px #ffffff, 3px 3px 10px #00000030;
}

.tab-list .tab-item a.active{
    box-shadow: inset -2px -2px 7px #ffffff, inset 2px 2px 7px #00000030;
}

.tab-content{
    display: none;
}

.tab-contents, .tab-content{
    width: 100%;
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2em 0;
}

.clock .back-1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: -3px -3px 10px #ffffff, 3px 3px 10px #00000030;
}

.clock .back-1 .stick{
    position: absolute;
    width: 20px;
    height: 2px;
}

.clock.model-1 .back-1 .stick{ background-color: #cd863fa1; }
.clock.model-2 .back-1 .stick{ background-color: #3f94cda1; }

.clock.model-1 .back-1 .stick:nth-child(1),
.clock.model-2 .back-1 .stick:nth-child(1){
    top: 0;
    left: calc(50% - 1px);
    rotate: 90deg;
    transform-origin: 0% 100%;
}

.clock.model-2 .back-1 .stick:nth-child(2),
.clock.model-1 .back-1 .stick:nth-child(2){
    top: calc(50% - 1px);
    right: 0;
}

.clock.model-1 .back-1 .stick:nth-child(3),
.clock.model-2 .back-1 .stick:nth-child(3){
    bottom: 0;
    left: calc(50% + 1px);
    rotate: -90deg;
    transform-origin: 0% 100%;
}

.clock.model-1 .back-1 .stick:nth-child(4),
.clock.model-2 .back-1 .stick:nth-child(4){
    top: calc(50% - 1px);
    left: 0;
}

.clock .back-2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #ffffff30;
    box-shadow: -3px -3px 10px #ffffff, 3px 3px 10px #00000030;
}

.clock .circle{
    position: absolute;
    width: 7px;
    height: 7px;
    background: #dfdfdf;
    border-radius: 50%;
    transform: translateY(1px);
}

.clock.model-1 .back-2 .circle{ border: 5px solid #9e6700; }
.clock.model-2 .back-2 .circle{ border: 5px solid #007e9e; }

.clock .back-2 .heure,
.clock .back-2 .minute,
.clock .back-2 .seconde{
    position: absolute;
    height: 2px;
    transform-origin: 0% 100%;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.clock .back-2 .heure{
    width: 80px;
    margin-left: 80px;
    background: #616161;
}

.clock .back-2 .minute{
    width: 130px;
    margin-left: 130px;
    background: #bebebe;
}

.clock .back-2 .seconde{
    width: 150px;
    margin-left: 150px;
}

.clock.model-1 .back-2 .seconde{ background: #9e6700; }
.clock.model-2 .back-2 .seconde{ background: #007e9e; }

.alarm-list,
.country-list{
    position: relative;
}

.alarm-list ul,
.country-list ul{
    position: relative;
    width: 100%;
    list-style: none;
    padding: 0;
}

.alarm-list ul li,
.country-list ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: -3px -3px 10px #ffffff, 3px 3px 10px #00000030;
    width: calc(100% - 5rem);
}

.alarm-list ul li .alarm-switch{
    cursor: pointer;
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 22px;
    border-radius: 50px;
    overflow: hidden;
    background: #00000002;
    box-shadow: inset -2px -2px 4px #ffffff, inset 2px 2px 4px #00000030;
    transition: all .5s;
}

.alarm-list ul li .alarm-switch button{
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff8ed;
    border: 1px solid #ffc06175;
    box-shadow: 2px 2px 8px #00000030;
    transition: all .3s;
}

.alarm-list ul li .alarm-switch.active{
    background: #ffa60065;
}

.alarm-list ul li .alarm-switch.active button{
    background:  #cf9356;
    transform: translateX(calc(100% - 1px));
}

.alarm-list ul li .alarm-time{
    font-size: 1.1em;
    font-weight: bold;
    opacity: .7;
}

.alarm-list ul li .alarm-time em{
    font-size: .8em;
    color: #4d4d4d;
    font-weight: normal;
}

.add-alarm, .play-bar span{
    cursor: pointer;
    color: peru;
    background:  transparent;
    box-shadow: -3px -3px 10px #ffffff, 3px 3px 10px #0000003f;
    border: none;
    border-radius: 50%;
}

.add-alarm{
    position: absolute;
    margin-left: calc(50% - 1.1em);
    bottom: 10px;
    width: 2.2em;
    height: 2.2em;
    font-size: 1.7em;
}

.play-bar span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
}

.country-time{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.country-name{
    font-style: italic;
    opacity: .6;
}

.clock.model-3{
    rotate: -90deg;
}

.clock.model-3 .stick{
    position: absolute;
    width: 150px;
    height: 2px;
    top: 50%;
    left: 50%;
    background: chocolate;
    transform-origin: 0% 100%;
}

.clock.model-3 .stick:nth-child(1){ transform: rotate(30deg); }
.clock.model-3 .stick:nth-child(2){ transform: rotate(60deg); }
.clock.model-3 .stick:nth-child(3){ transform: rotate(90deg); }
.clock.model-3 .stick:nth-child(4){ transform: rotate(120deg); }
.clock.model-3 .stick:nth-child(5){ transform: rotate(150deg); }
.clock.model-3 .stick:nth-child(6){ transform: rotate(180deg); }
.clock.model-3 .stick:nth-child(7){ transform: rotate(210deg); }
.clock.model-3 .stick:nth-child(8){ transform: rotate(240deg); }
.clock.model-3 .stick:nth-child(9){ transform: rotate(270deg); }
.clock.model-3 .stick:nth-child(10){ transform: rotate(300deg); }
.clock.model-3 .stick:nth-child(11){ transform: rotate(330deg); }
.clock.model-3 .stick:nth-child(12){ transform: rotate(0deg); }

.clock.model-3 .back-2{
    background: #ffdfc7;
    box-shadow: none;
    width: 275px;
    height: 275px;
}

.clock.model-3 .aiguille{
    position: absolute;
    width: 130px;
    height: 2px;
    top: 50%;
    left: 50%;
    background: chocolate;
    transform-origin: 0% 100%;
    transition: transform 10ms linear;
}

.clock.model-3 .circle{
    position: absolute;
    border: 5px solid chocolate;
}

.timer-time{
    text-align: center;
    opacity: .7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.timer-list ul{
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.timer-list ul li{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    opacity: .7;
}

.timer-list ul li .timer-title{
    font-weight: bold;
    font-size: 1.1em;
}

.timer-list ul li .timer-value{
    font-style: italic;
}

.play-bar{
    background-image: linear-gradient(transparent, #ffd8bb);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}